body {
    font-family: 'Courier New', Courier, monospace;
}

#header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "button header timer" ". header .";
    justify-items: center;
    align-items: center;
    height: 10vh;
    margin: 1rem;
}

button {
    grid-area: button;
    border: .15rem solid darkblue;
    border-radius: 1rem;
    background-color: lightblue;
    justify-self: end;
}

h1 {
    grid-area: header;
    background: linear-gradient( darkblue 25%, lightblue 50%, darkblue 75%);
    background-clip: text;
    color: darkblue;
    font-size: 4rem;
    animation: gradient 6s ease-in-out alternate infinite;
}

@keyframes gradient {
    50% {
        color: transparent
    }
    from,
    45%,
    55%,
    to {
        color: darkblue;
    }
}

#timer {
    grid-area: timer;
    justify-self: start;
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(7, 3rem);
    grid-template-rows: repeat(7, 3rem);
    gap: .5rem;
    justify-content: center;
}

.number,
.total {
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    user-select: none;
    text-align: center;
    border-radius: 50%;
    border: .25rem solid rgb(4, 20, 220);
}

.number {
    background-color: rgba(20, 50, 245, 1);
}

.total {
    color: darkblue;
}